.homeMenu {
	display: flex;
	gap: 0.5rem;
	margin: 0 0 0;
	padding: 0 0 2rem;
}
.homeBtn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 4rem;
	cursor: pointer;
}
.homeBtnIconContainer {
	width: 2.6rem;
	height: 2.6rem;
	background-color: #262837;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.homeBtnIcon {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0 0;
	width: 1.4rem;
	height: 1.4rem;
	image-rendering: pixelated;
}
.homeBtnLabel {
	margin: 0.5rem 0 0;
	font-weight: bold;
	font-family: 'Pixeloid';
	color: #fff;
	font-size: 0.6rem;
}
